@import "./components/calculate-list.css";
@import "./components/product-form.css";
@import "./components/product.css";
@import "./components/purchase-detail.css";
@import "./components/ranking-detail.css";
@import "./components/vending-machine.css";

body {
  width: 768px;
  margin: 0 auto;
  margin-top: 80px;
}
button {
  cursor: pointer;
}
